Package: grisu-webstart-webapp
Version: 0.3-SNAPSHOT
Section: misc
Priority: optional
Architecture: all
Depends: sun-java6-jdk, tomcat6
Recommends: apache2
Maintainer: Markus Binsteiner <m.binsteiner@auckland.ac.nz>
Description: Webapp to server Grisu clients via Java WebStart on Tomcat
